---
layout: default
title: Home
---

<div class="home">
  <div class="intro_home">
  {% capture my_include %}{% include intro.md %}{% endcapture %}
  {{ my_include | markdownify }}
  </div>
</div>
<hr />
<div class="home">
  <div class="post-list four columns">
  
    {% assign posts = site.talks | sort: 'date' | reverse %}
    {% for post in posts limit:15 %}
    <article class="post_card post">
      <header class="post_header">
        {% assign posttype = post.id | split:"/" %}
        {% assign posticon = posttype[1] | capitalize %}
        {% assign i = site.data.icons | where:"name",{{posticon}} | first %}
        <div class="post_title_light">
          <i class="fa fa-{{i.icon}}"></i>
          <a href="/{{posttype[1]}}/#{{post.id | slugify }}">{{ post.title}}</a>
        </div>
        <time class="post_date">{{ post.date | date: "%d %B %Y, %A" }}</time>
      </header>
    </article>
    {% endfor %}
  </div>
  <div class="post-list eight columns">

    {% for post in site.posts limit:10 %}
    <article class="post_card post">
      <header class="post_header">
        <div class="post_title">
          {% assign cat = post.categories | first %}
          {% assign i = site.data.icons | where:"name",{{cat}} | first %}
          <a href="/news/#{{cat}}"><i class="fa fa-{{i.icon}} fa-lg"></i></a>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a>
          <a class="readmore" href="{{ post.url | prepend: site.baseurl }}"> »  </a>
        </div>
        <time class="post_date">{{ post.date | date: "%d %B %Y, %A" }}</time>
      </header>
      <div class="post_excerpt">
        <p>
          {% if post.description %}
          {{ post.description}}
          {% else %}
          {{ post.excerpt }}
          {% endif %} 
        </p> 
      </div>
    </article>
    {% endfor %}

    <div class="pagination older-post"><a href="./archive"><data data-icon="ei-arrow-right"></data> Archive  </a></div>
  </div>
</div>
