---
layout: page
permalink: /papers/
title: Papers
---

{% for paper in site.papers reversed %}
  {% assign currentdate = paper.date | date: "%Y" %}
  {% if currentdate != date %}
    <div id="y{{currentdate}}" class="paper_year">{{ currentdate }}</div>
    {% assign date = currentdate %} 
  {% endif %}
 <div class="paper" id="{{paper.id|slugify}}">
   <div class="paper_title">{{paper.title}}</div>
   <div class="paper_authors">
    {% for author in paper.authors %}
    {% include person-by-fullname.html fullname=author %}
    {% unless forloop.last %}, {% endunless %}
    {% endfor %}
   </div>
   <div class="paper_venue">in {{paper.venue.name}} (<a href="{{paper.venue.url}}">{{paper.venue.short-name}})</a></div>
   <div class="paper_urls">
    {% for url in paper.urls %}
     <span class="paper_url"><a href="{{url[1]}}">[{{url[0]}}]</a></span>
    {% endfor %}
    </div>
 </div>

{% endfor %}
