---
layout: page
permalink: /papers/
title: Papers
---

{% for paper in site.papers %}
 <div class="paper">
   <div class="paper_title">{{paper.title}}</div>
   <div class="paper_authors">{{ paper.authors | join: ', '}}</div>
   <div class="paper_date">{{ paper.date | date: '%b %Y' }}</div>
   <div class="paper_venue">{{paper.venue.name}} (<a href="{{paper.venue.url}}">{{paper.venue.short-name}})</a></div>
   <div class="paper_urls">
    {% for url in paper.urls %}
     <span class="paper_url"><a href="{{url[1]}}">[{{url[0]}}]</a></span>
    {% endfor %}
    </div>
    <hr />
 </div>

{% endfor %}
