<div class="image_block">
<div class="image_block_elem">
{% responsive_image_block %}
    path: "assets/img/{{ include.name1 }}"
    alt: {{ include.alt1 }}
    template: _includes/responsive-float-thumb.html
{% endresponsive_image_block %}
</div>
<div class="image_block_elem">
{% responsive_image_block %}
    path: "assets/img/{{ include.name2 }}"
    alt: {{ include.alt2 }}
    template: _includes/responsive-float-thumb.html
{% endresponsive_image_block %}
</div>
<div class="image_block_elem">
{% responsive_image_block %}
    path: "assets/img/{{ include.name3 }}"
    alt: {{ include.alt3 }}
    template: _includes/responsive-float-thumb.html
{% endresponsive_image_block %}
</div>
</div>
