/* layout */
html,.container {
  position:relative;
  min-height:100%;
}

body {
  min-height:100%;
  height:auto;
}

.page-content {
    min-height:100%;
    box-sizing: border-box;
    height:auto;
    padding-bottom: 140px;
}

.site-footer {
  position: absolute;
  bottom: 0;
  padding-bottom: 0rem;
  width:100%;

  /* footer style */
  color: #99999a;
  background-color: #FAFAFB;

  .left {
    a {
      color: #666;
      border-bottom:1px dotted;
      text-decoration:none;
    }
    a:hover {
      color:blue;
      border-bottom:1px dotted;
    }
  }
}


/* Effects
—————————————————————————————————————————————————— */

.blinking_underscore {
  -webkit-animation: blinking_underscore_frame 1.5s infinite ease;
  -moz-animation: blinking_underscore_frame 1.5s infinite ease;
  -ms-animation: blinking_underscore_frame 1.5s infinite ease;
  -o-animation: blinking_underscore_frame 1.5s infinite ease;
  animation: blinking_underscore_frame 1.5s infinite ease;
}

.logo {
  margin-bottom:12.5px;
  font-weight:$font-weight-bold;
}
.logo a {
  -webkit-transition:.4s;
  transition:.4s;
}

.logo a:hover {
  color:#222;
  background-image:-webkit-linear-gradient(bottom,#222,#222);
  background-image:linear-gradient(to top,#222,#222);
  text-shadow:-1px -1px 0 #FDFDFD,1px -1px 0 #FDFDFD,-1px 1px 0 #FDFDFD,1px 1px 0 #FDFDFD;
  background-repeat:repeat-x;
  background-size:2px 2px;
  background-position:0 96%
}

.nav {
  line-height: $base-line-height;

  .page-link {
    color: $text-color;
    line-height: 1.0;
    display: block;
    padding: 5px 0px 0px 0px;

    li {
      font-size:1.5rem;
      list-style:none;
      font-weight: 100;
      margin-bottom:1rem;
    }

    a:active {
      font-weight: 500;
    }
  }
}

/* site-nav */

@include media-query($on-laptop) {
  .site-nav {

    /* flex box */
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
    display: -moz-box; /* Firefox 17- */
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: -moz-flex; /* Firefox 18+ */
    display: -ms-flexbox; /* IE 10 */
    display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */// Import partials from `sass_dir` (defaults to `_sass`)

    opacity: 0;
    height: 0;
    -webkit-transition: all .4s;
    transition: all .4s;

    -webkit-justify-content: center;
    justify-content:center;

    @include media-query($on-laptop) {
      border-top:1px solid #ddd;
      border-bottom:1px solid #ddd;
    }
  }

  #menu-toggle:checked+.site-nav {
    opacity: 1;
    height: auto;
    margin-bottom:-25px;
  }
}

input#menu-toggle {
  display:none;
}

.nav .menu-icon {
  display:none;
  position:absolute;
  right:5%;

  @include media-query($on-laptop) {
    top: 67px;

    @include media-query(400px) {
      top: 13px;
    }

    display: block;
    text-align: center;

    &:hover {
      >svg {
        path {
          fill: $grey-color;
        }
      }
    }

    > svg {
      width: 18px;
      height: 15px;


      path {
        fill: $grey-color-dark;
  } } }
}


.site-header {
  text-align:right;
  @include media-query($on-laptop){
    text-align: center;
    margin-bottom: 40px;
  }
  nav a {
    font-weight:400;
  }
}

.intro_home {
  margin-bottom: 2rem;
  line-height: 1.2em;
}

.post {
  @extend .dont-break-out;
}

.post-list {
  font-size: 1.5rem;
  line-height: 1.1em;
}

.post_card {
  margin-bottom: 1.5rem;
  border-bottom: 1px solid lightgray;
}

.post_news {
  margin-left: 2rem;
  margin-bottom:2rem;
}

.post_news_mini_header {
 font-size: 1.6rem;
 font-style: italic;
}

.post_header {
}

.post_title {
  font-size: 1.6rem;
  font-weight: bold;
}

.post_title_light {
  font-size: 1.6rem;
}

.post_excerpt {
  font-size: 1.4rem;
}

.post_date {
  color:#666;
  font-size: 1.3rem;
  font-style: italic;
}

p.readmore {
  text-align:right;
}

.post_meta {
  font-style: italic;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.author_meta {
 img {
   height:3rem;
 }
 float: right;
}
.post_archive {

}

.furore_entry {
  padding-top: 5px;
  line-height: 1.6rem;
  h2 { font-size: 1.8rem; }
  h3 { font-size: 1.7rem; }
  h4 { font-size: 1.6rem; }
  height: auto;
  overflow: hidden;
}

.furore_author {
  width: 60px;
  font-size: 1.2rem;
  font-style: italic;
  float: left;
  margin-bottom: 10px;
  padding: 5px;
}

.furore_output {
  width: auto;
  overflow: hidden;
}

.furore_date {
  margin-top: 5px;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform:lowercase;
  font-variant:small-caps;
  background: #eeeeee;
  border-radius: 8px;
  padding: 3px;
  padding-left: 15px;
  padding-right: 15px;
  display: inline;
}

.furore_week_links {
  background: #eeeeee;
  padding: 5px;
  margin-bottom: 20px;
}

.furore_year_link {
  font-weight: bold;
}

.archive_date_header {
   .text {
   font-size: 1.8rem;
   font-weight: bold;
   text-transform:lowercase;
   font-variant:small-caps;
   background: #ffddcc;
   border-radius: 8px;
   padding: 3px;
   padding-left: 15px;
   padding-right: 15px;
   display: inline;
  }
 margin-bottom: 10px;
 margin-top: 10px;
}
.article_meta {

}

.image-thumbnail-left {
  float: left;
  padding-right: 10px;
  text-align: left;
}

.image-thumbnail-right {
  float: right;
  padding-left: 10px;
  text-align: right;
}

.image_block {
  text-align: justify;
}

.image_block:after {
 content:"";
 display: inline-block;
 width: 100%;
 height: 0;
}

.image_block_elem {
  display: inline-block;
  vertical-align: top;
  width: 30%;
}

.image_caption {
  font-size: 1.2rem;
  font-style: italic;
  color: #333343;
}

.role-header {
  font-size: 2.5rem;
  border-bottom: 1px solid lightgray;
  margin-bottom: 10px;
}

.article-content a {
  border-bottom:1px dotted red;
  text-decoration:none;
}
.article-content a:hover {
  color:blue;
  border-bottom:1px dotted blue;
}

.article-footer {

  padding:2rem 0;
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;

  .share {
    text-align:center;
  }

  .share-link {
    text-decoration:underline;
    margin-left:8px;
  }

}

.article_share {

}

.article_share .location {

}

.artilce-prev {

}

.article-next {

}

/* author info */


.author {
  @media (max-width: $on-laptop) {
    display:inline-block;
    text-align:center;
  }
  margin-bottom: 12px;
}

.authorimage {
  @media (min-width: $on-laptop+1) {
    float:left;
  }
  display:inline-block;
  width: 90px;
  height: 90px;
  border-radius: 5%;
  -webkit-background-size: cover !important;
  background-size: cover !important;
  background-position: center center !important;
  margin-right: 10px;
}

.authorinfo {
  .bio {
    color:#666;
  }
}



/* footer */

.footer {
  float:left;
}

.left {
  text-align:center;

  @media (min-width: $on-laptop) {
    text-align:left;
  }
}

.right {
  text-align:center;

  @media (min-width: $on-laptop) {
    text-align:right;
  }

}

/* icon */

.icon {
  vertical-align: bottom;
}

body.custom-background {
  background-image: url('/images/background.png');
  background-repeat: repeat;
  background-position: top left;
  background-attachment: scroll; }

/* Publications */
.paper {
  padding-left: 15px;
  padding-bottom: 10px;
  line-height: 1.9rem;
}
.paper_title {
  font-weight: bold;
}

.paper_authors {
  font-style: italic;
}

.paper_year {
  font-weight: bold;
  font-size: 2.2rem;
  border-bottom: 1px solid #ccccee;
  margin-bottom: 10px;
}

/* Archive page */

.archive_list {
  width:90%;
  margin-bottom:3rem;
}

.category_list {
  font-size: 1.8rem;
  text-transform:lowercase;
  font-variant:small-caps;
  background: #eeeeee;
  border-radius: 10px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  display: inline;
}

.category_name {
  padding-top:20px;
  text-transform:lowercase;
  font-variant:small-caps;
  h2 {
   letter-spacing:0;
   border-bottom: 1px solid #ddd;
  }
}

div.post_title span.date {
  font-size: 80%;
  color: $grey-color;
}

/* Pagination */


.pagination {
  width:50%;
}

.pagination.older-post{
  float: right;
  text-align: right;
}

/* others */

.small-font{
  font-size:$small-font-size;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

/* Smaller than tablet */
@media (max-width: 750px) {}

/* Smaller than tablet */
@media (max-width: 550px) {}


/* ------------------------------------
 * frames
 * ------------------------------------ */

@keyframes "blinking_underscore_frame" {
 0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   	filter: alpha(opacity=0);
   	opacity: 0;
 }
 50% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   	filter: alpha(opacity=100);
   	opacity: 1;
 }
 100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   	filter: alpha(opacity=0);
   	opacity: 0;
 }

}

@-moz-keyframes blinking_underscore_frame {
 0% {
   filter: alpha(opacity=0);
   opacity: 0;
 }
 50% {
   filter: alpha(opacity=100);
   opacity: 1;
 }
 100% {
   filter: alpha(opacity=0);
   opacity: 0;
 }

}

@-webkit-keyframes "blinking_underscore_frame" {
 0% {
   filter: alpha(opacity=0);
   opacity: 0;
 }
 50% {
   filter: alpha(opacity=100);
   opacity: 1;
 }
 100% {
   filter: alpha(opacity=0);
   opacity: 0;
 }

}

@-ms-keyframes "blinking_underscore_frame" {
 0% {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
 }
 50% {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
 }
 100% {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
 }
}

@-o-keyframes "blinking_underscore_frame" {
 0% {
   filter: alpha(opacity=0);
   opacity: 0;
 }
 50% {
   filter: alpha(opacity=100);
   opacity: 1;
 }
 100% {
   filter: alpha(opacity=0);
   opacity: 0;
 }
}
